*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  overflow-x: hidden;
  .rewards-container {
    overflow-x: hidden;
  }
}

@import "./nav.scss";
@import "./body.scss";
@import "./body2.scss";
@import "./body3.scss";
@import "./body4.scss";
@import "./disclaimer.scss";
@import "./footer.scss";
@import "./socials.scss";
@import "./menu.scss";
@import "./menunav.scss";
@import "./navproducts.scss";
@import "./title.scss";
@import "./rewardhero.scss";
@import "./gettingstarted.scss";
@import "./rating.scss";
@import "./extras.scss";
@import "./cashorcard.scss";
@import "./navreward.scss";
@import "./starcode.scss";
@import "./restriction.scss";
@import './giftcards.scss';