.body2-container {
  width: 100vw;
  margin-top: 2rem;
  .hero2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    .card {
      min-height: 50vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      .info {
        height: 100%;
        background: #1e3932;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: "Nunito", sans-serif;
        color: white;
        h2 {
          font-size: 1.5rem;
          margin-bottom: 2rem;
          margin-top: 1rem;
        }
        p {
          text-align: center;
          width: 90%;
          font-weight: bolder;
          margin-bottom: 2rem;
          font-size: 1.3rem;
        }
        button {
          height: 2rem;
          width: 6rem;
          border-radius: 25px;
          border: white 1px solid;
          background: transparent;
          color: white;
          margin-bottom: 2rem;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .body2-container {
    .hero2 {
      flex-direction: row;
      gap: 2rem;
      .card {
        img {
          height: 55%;
        }
        .info {
          height: 320px;
          h2 {
            font-size: 2rem;
          }
          p {
            font-size: 1.5rem;
          }
          button {
            font-size: 1rem;
            font-weight: bold;
            width: 7rem;
          }
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .body2-container {
    .hero2 {
      display: flex;
      gap: 2rem;
      .card {
        img {
          height: 80%;
        }
        .info {
          h2 {
            font-size: 2.5rem;
          }
        }
      }
    }
  }
}

@media (min-width: 1194px) {
  .body2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .hero2 {
      display: flex;
      gap: 2rem;
      width: 1194px;
      .card {
        width: 1194px;
        img {
          height: 80%;
        }
        .info {
          h2 {
            font-size: 2.5rem;
          }
        }
      }
    }
  }
}
