.giftcards-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .inner-container {
    width: 100%;
    padding-bottom: 2rem;
    .title {
      display: flex;
      justify-content: space-between;
      margin: 2rem 1rem;
      h1 {
        font-size: 1rem;
      }
      p {
        margin-right: 1rem;
        color: green;
      }
    }
    .cards {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: relative;
      overflow: hidden;
      height: 28vw;
      button {
        height: 2.5rem;
        width: 2.5rem;
        z-index: 1;
        font-size: 1rem;
        border-radius: 50%;
        border: 1px solid black;
        margin: 0 2rem;
      }
      .img-card {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        transition: 0.5s all ease-in-out;
        margin: 0 1rem;
        .images {
          height: 100%;
          margin: 1rem 0.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          img {
            height: 100%;
            border-radius: 10px;
            object-fit: contain;
          }
        }
      }
    }
  }
}

@media (min-width: 550px) {
  .giftcards-container {
    .inner-container {
      .cards {
        height: 18vw;
      }
    }
  }
}

@media (min-width: 768px) {
  .giftcards-container {
    .inner-container {
      padding-top: 7rem;
      .title {
        h1 {
          font-size: 1.2rem;
        }
        p {
          margin-right: 1rem;
          color: green;
        }
      }
      .cards {
        height: 18vw;
      }
    }
  }
}

@media (min-width: 1194px) {
  .giftcards-container {
    .inner-container {
      .cards {
        height: 15vw;
      }
    }
  }
}
