.menu-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: rgba(0, 0, 0, 0.253) 2px solid;
  padding-bottom: 5rem;
  .inner-container {
    width: 90%;
    .left-menu {
      display: none;
    }
    .right-menu {
      .right-drinks {
        margin-top: 2rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.164);
        h1 {
          margin-bottom: 2rem;
          font-size: 2rem;
        }
        h2 {
          padding-bottom: 1.5rem;
        }
      }

      .drinks-img {
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        div {
          display: flex;
          align-items: center;
          gap: 1rem;
          img {
            background: green;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
      }

      .right-food {
        margin-top: 3rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.178);
        padding-bottom: 1rem;
      }

      .food-img {
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        div {
          display: flex;
          align-items: center;
          gap: 1rem;
          img {
            background: green;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
      }

      .right-home {
        margin-top: 3rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.178);
        padding-bottom: 1rem;
      }

      .home-img {
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        div {
          display: flex;
          align-items: center;
          gap: 1rem;
          img {
            background: green;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
      }

      .right-merchandise {
        margin-top: 3rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.178);
        padding-bottom: 1rem;
      }

      .merchandise-img {
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        div {
          display: flex;
          align-items: center;
          gap: 1rem;
          img {
            background: green;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .menu-container {
    justify-content: flex-end;
    .inner-container {
      margin-top: 10rem;
      width: 85%;
      .right-menu {
        .drinks-img {
          display: grid;
          grid-template-columns: 1fr 1fr;
          p {
            font-size: 1.5rem;
          }
        }
        .food-img {
          display: grid;
          grid-template-columns: 1fr 1fr;
          p {
            font-size: 1.5rem;
          }
        }
        .home-img {
          display: grid;
          grid-template-columns: 1fr 1fr;
          p {
            font-size: 1.5rem;
          }
        }
        .merchandise-img {
          display: grid;
          grid-template-columns: 1fr 1fr;
          p {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

@media (min-width: 1040px) {
  .menu-container {
    justify-content: center;
    align-items: center;
    .inner-container {
      width: 85%;
      display: flex;
      justify-content: center;
      .left-menu {
        display: block;
        padding-top: 2rem;
        width: 25%;
        ul {
          margin: 1.5rem 0;
          li {
            list-style: none;
            font-size: 1.2rem;
            color: rgba(0, 0, 0, 0.493);
            padding: 0.5rem 0;
            width: 70%;
          }
        }
      }
      .right-menu {
        width: 75%;
        .drinks-img {
          div {
            img {
              height: 100px;
              width: 100px;
            }
          }
        }
        .food-img {
          div {
            img {
              height: 100px;
              width: 100px;
            }
          }
        }
        .home-img {
          div {
            img {
              height: 100px;
              width: 100px;
            }
          }
        }
        .merchandise-img {
          div {
            img {
              height: 100px;
              width: 100px;
            }
          }
        }
      }
    }
  }
}
