.navreward {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: rgba(0, 0, 0, 0.1) 2px solid;
  position: relative;
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    .nav-left {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin-left: 1rem;
      .nav-logo {
        img {
          height: 40px;
          width: 40px;
        }
      }
    }

    .nav-right {
      display: flex;
      margin-right: 1rem;
      position: absolute;
      align-items: center;
      flex-direction: column;
      top: 8rem;
      height: 100vh;
      width: 80%;
      right: 0;
      transition: 0.5s ease-in-out;
      background: white;
      .nav-menu {
        width: 80%;
        div {
          margin: 2.5rem 0;
          font-family: "Nunito", sans-serif;
          white-space: nowrap;
          font-size: 0.8rem;
        }
        .menu {
          .menu1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:hover {
              cursor: pointer;
            }
          }
          .menu-link {
            text-decoration: none;
            color: black;
            &:hover {
              color: green;
            }
          }
          .products-menu {
            position: absolute;
            top: 0;
            right: -5%;
            width: 100%;
            height: 100vh;
            z-index: 3;
            transition: 0.5s ease-in-out;
            background: white;
            .menu2 {
              display: flex;
              justify-content: space-between;
              align-items: flex-start;
              width: 50%;
              margin-left: 2rem;
              &:hover {
                cursor: pointer;
              }
            }
            li {
              padding-left: 2rem;
              list-style: none;
              margin: 2rem 0;
              font-size: 1.2rem;
              font-weight: bolder;
            }
          }
          .products-menu.hide {
            right: -100%;
          }
        }

        .reward-div {
          .reward-link {
            text-decoration: none;
            color: black;
            &:hover {
              color: green;
            }
          }
        }

        .gift-div {
          .gift-link {
            text-decoration: none;
            color: black;
            &:hover {
              color: green;
            }
          }
        }
        .divider {
          position: relative;
          display: block;
        }
        .divider::after {
          content: "";
          position: absolute;
          left: 0rem;
          bottom: 0;
          width: 100%;
          height: 2px;
          background: rgba(34, 34, 34, 0.158);
        }
      }

      .nav-btn-container {
        width: 80%;
        .find-store {
          display: flex;
          width: 80%;
          &:hover {
            color: green;
            cursor: pointer;
          }
          img {
            height: 20px;
            width: 20px;
            margin-right: 0.5rem;
            margin-top: 1rem;
          }
          h2 {
            font-size: 1.1rem;
            margin-top: 1rem;
          }
        }

        .nav-buttons {
          margin-top: 2rem;
          display: flex;
          .sign-btn {
            height: 2rem;
            width: 4.5rem;
            border-radius: 25px;
            border: none;
            outline: black 1px solid;
            background: transparent;
            margin-right: 1rem;
            &:hover {
              cursor: pointer;
            }
          }
          .join-btn {
            height: 2rem;
            width: 5.5rem;
            border-radius: 25px;
            border: none;
            color: white;
            outline: black 1px solid;
            background: black;
            &:hover {
              background: rgba(100, 100, 100, 0.9);
            }
          }
        }
      }
    }

    .nav-right.hide {
      right: -100%;
    }

    .hamburger {
      position: relative;
      background: transparent;
      border: 0;
      height: 2.5rem;
      width: 2.5rem;
      outline: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 2rem;
      border-radius: 50%;
      transition: 0.2s ease-in-out;
      &:hover {
        cursor: pointer;
        background: rgb(226, 226, 226);
      }
      span {
        display: block;
        height: 2px;
        width: 1.2rem;
        background: rgba(0, 0, 0, 0.582);
        border-radius: 4px;
        margin: 2px 0;
        transition: 0.5s ease-in-out;
      }
      .ham-top.nav-open {
        transform: translateY(3px) rotate(405deg);
      }
      .ham-bottom.nav-open {
        transform: translateY(-3px) rotate(-45deg);
      }
      .ham-middle.nav-open {
        display: none;
      }
    }
  }
}

@media (min-width: 768px) {
  .navreward {
    position: fixed;
    height: 7rem;
    background: white;
    .nav-container {
      width: 100VW;
      .nav-left {
        margin-left: 2rem;
        .nav-logo {
          img {
            height: 55px;
            width: 55px;
          }
        }
      }
      .nav-right {
        position: static;
        flex-direction: row;
        height: 100%;
        width: 100%;
        margin-left: 1rem;
        .nav-menu {
          width: 100%;
          display: flex;
          div {
            margin: 0 0.5rem;
            &:hover {
              color: green;
              cursor: pointer;
            }
          }
          .menu {
            ul {
              display: none;
            }
            .menu1 {
              justify-content: center;
              margin: 0 0rem;
              span {
                display: none;
              }
            }
          }
          .divider {
            display: none;
          }
        }
      }

      .nav-btn-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        .find-store {
          margin-right: 1.5rem;
          justify-content: flex-end;
          img {
            margin-bottom: 1rem;
          }
          h2 {
            margin-bottom: 1rem;
            white-space: nowrap;
          }
        }
        .nav-buttons {
          margin-bottom: 2rem;
          margin-right: 2rem;
        }
      }

      .hamburger {
        display: none;
      }
    }
  }
}

@media (min-width: 1194px) {
  .navreward {
      display: flex;
      align-items: center;
      justify-content: center;
    .nav-container {
      width: 1242px;
      .nav-left {
        margin: 0;
      }
      .nav-right {
        .nav-menu {
          .menu {
            .menu1 {
              margin-left: 1rem;
            }
          }
        }
      }
      .nav-btn-container {
        .nav-buttons {
          margin-right: 0;
        }
      }
    }
  }
}
