.social-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .inner-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    .icons {
      img {
        width: 27px;
        height: 27px;
        margin: 1rem 0.5rem;
      }
    }
    .terms {
      margin: 0 0.5rem;
      p {
        margin: 1.5rem 0;
      }
    }
    .copyright {
      margin: 1rem 0.5rem;
      h3 {
        color: rgb(4, 94, 4);
      }
      p {
        margin: 1rem 0;
        margin-bottom: 2rem;
        color: rgba(0, 0, 0, 0.603);
      }
    }
  }
}

@media (min-width: 900px) {
  .social-container {
    .inner-container {
      .terms {
        display: flex;
        p {
          margin: 1rem 0;
          font-size: 1.2rem;
        }
        .p1 {
          border-right: black 1px solid;
          padding-right: 1rem;
        }
        .p2 {
          border-right: black 1px solid;
          padding: 0 1rem;
        }
        .p3 {
          padding-left: 1rem;
        }
      }
      .copyright{
          h3{
              font-size: 1.3rem;
          }
          p{
              font-size: 1.1rem;
          }
      }
    }
  }
}

@media (min-width: 1194px) {
  .social-container{
      .inner-container{
          width: 1194px;
      }
  }
}