.title-container {
  background: #1e3932;
  position: sticky;
  top: 0;
  section {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
      font-size: 0.8rem;
      color: white;
      margin-left: 1rem;
    }
    button {
      height: 2rem;
      width: 10rem;
      border-radius: 25px;
      border: none;
      outline: rgb(255, 255, 255) 1px solid;
      background: transparent;
      color: white;
      font-weight: bolder;
      padding: 5px;
      margin-right: 1rem;
    }
  }
}

@media (min-width: 300px) {
  .title-container{
    section{
      h2{
        margin-left: 2rem;
        font-size: 1rem;
      }
      button{
        margin-right: 2rem;
        width: 8rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .title-container {
    top: 110px;
    section {
      h2 {
        margin-left: 7rem;
      }
      button {
        opacity: 0;
      }
    }
  }
}

@media (min-width: 1194px) {
  .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    section {
      width: 1194px;
    }
  }
}
